<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">EDITIONS</span>
			<li>CSS</li>
			<li>HTML</li>
			<li>JAVASCRIPT</li>
			<li>RUBY</li>
		</ul>
	</li>
	<li>
		<span class="dropdown-subtitle">HELP</span>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">CONTACT US</a></li>
		</ul>
	</li>
</ul>