<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			<%= render partial: 'shared/sections_sidebar' %>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-now">
				<i class="subscribe-bar"></i>
				<button>SUBSCRIBE NOW</button>
			</li>
			<li id="login-now">
				<i class="login-bar"></i>
				<button>LOG IN</button>
			</li>
			<li id='drop-down'>
				<i class="fas fa-cog"></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>