<header class='masthead'>
    <nav class='language-nav'>
        <ul>
            <a href='CSS' style= 'font-weight: bold;' >CSS </a>
            <a href='HTML'> HTML</a>
            <a href='Javascript'> Javascript </a>
            <a href='Ruby'>Ruby</a> 
        </ul>
    </nav>
    <img class='logo' src='assets/AA_Times_Logo.png'>

        <ul class='masthead-links'>
            <li>    
                <a href=''>Tuesday, October 18, 2016 </a>
            </li>
            <li>
                <a href=''> Today’s Paper</a>
            </li>
            <li>
                <i class="fas fa-video"></i>
                <a href='https://www.google.com/videohp'>Video</a>
            </li>
            <li>
                <a href=''>77°F</a>
            </li>
                <a href=''>AAO +100%</a> 
        </ul>

</header>


<li>



