
.section-nav {
    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: 1px solid grey;
    cursor: pointer;

    ul {
        display: flex;
        padding: 5px;
    }

    li {
        margin: 5px;

    }

    li:hover {
        background-color: $light-gray;
    }

    li:last-child:hover {
        text-decoration: underline;
        background-color: initial; 
    }

    // @media all and (max-width: 1000px) {
    // .section-nav {
    // width: 100%;
    // display: block;
    // }

}

   @media (max-width: 600px) {
    .section-nav {
    width: 100%;
    display: none;
    }

   }
