



// .sections-sidebar-btn {
//     opacity: 0;
// }

#sections-sidebar-btn:hover .section-nav {
    display: flex;

}

.sub-dropdown {
    position: relative;
}

.sub-dropdown > ul {
    display: none;
    position: absolute;
}

.section-nav {
    display: none;

}

// .section-nav.hover {
//     display: flex;
// }

.sub-dropdown:hover > ul {
    display: block;
}